<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Author Profile</div>
        <div class="card-body">
          <br />
          <form
            class="form-horizontal"
            [formGroup]="updateUserForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email">Email</label>
                <div class="col-md-9">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    formControlName="email"
                    disabled
                    class="form-control"
                    placeholder="Enter Email.."
                    autocomplete="email"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="first_name"
                  >First Name</label
                >
                <div class="col-md-9">
                  <input
                    type="first_name"
                    id="first_name"
                    name="first_name"
                    formControlName="first_name"
                    [ngClass]="{
                      'is-invalid': submitted && f.first_name.errors
                    }"
                    class="form-control"
                    placeholder="First Name.."
                    autocomplete="email"
                  />
                  <div
                    *ngIf="submitted && f.first_name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.first_name.errors.required">
                      First Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="last_name"
                  >Last Name</label
                >
                <div class="col-md-9">
                  <input
                    type="last_name"
                    id="last_name"
                    name="last_name"
                    formControlName="last_name"
                    [ngClass]="{
                      'is-invalid': submitted && f.last_name.errors
                    }"
                    class="form-control"
                    placeholder="Last Name.."
                    autocomplete="email"
                  />
                  <div
                    *ngIf="submitted && f.last_name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.last_name.errors.required">
                      Last Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="contact_number"
                  >Contact Number</label
                >
                <div class="col-md-9">
                  <input
                    type="text"
                    id="contact_number"
                    name="contact_number"
                    formControlName="contact_number"
                    [ngClass]="{
                      'is-invalid': submitted && f.contact_number.errors
                    }"
                    class="form-control"
                    placeholder="Enter Contact Number"
                    autocomplete="current-password"
                  />
                  <div
                    *ngIf="submitted && f.contact_number.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.contact_number.errors.required">
                      Contact Number is required
                    </div>
                    <div *ngIf="f.contact_number.errors.contact_number">
                      Contact Number must be a valid
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="infoModal.hide()"
              >
                Close
              </button>
              <button type="button" class="btn btn-info" type="submit">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
